<section>
  <div class="my-10 text-center">
    <h3 class="text-2xl font-bold divider my-2">
      Acreditación de Seguridad y Registro de Armas
    </h3>

    <p class="text-xl font-light">
      (Confidencial)
    </p>

    <p class="font-light text-sm italic">
      Solo se acepta municiones 9mm
    </p>
  </div>

  {% for hidden in formset.management_form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for form in formset %}
    {% include 'core/components/sw/form.html' with form=form counter=forloop.counter0 prefix='sw_set' %}
  {% endfor %}
</section>
