<!-- <!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block blockname %} Inicio {% endblock blockname %}</title>
    <style>
        input {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="my-5">
        <header class="text-2xl text-center font-bold">
            <h3> República de Panamá </h3>
            <h3> Transmisión de Mando Presidencial 2024 </h3>
            <h3>{% block form_type %}{% endblock form_type %}</h3>

            <div class="drawer lg:drawer-open">
                <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
                <div class="drawer-content">
                  {% block content %}
                  {% endblock content %}

                <div class="p-5 grid md:grid-cols-3 gap-4">
                    <div>
                        <label for="" class="label-text"> Autorizado por </label>
                        <input type="text" class="input input-bordered w-full">
                    </div>
                    <div>
                        <label for="" class="label-text"> Fecha </label>
                        <input type="date" class="input input-bordered w-full">
                    </div>
                </div>

                </div>
                <div class="drawer-side">
                  <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
                  <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                    <li>
                        <a href="{% url 'accreditation:national-accreditation' %}">
                            Acreditación Nacional
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'accreditation:international-accreditation' %}">
                            Acreditación Internacional
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'accreditation:overflight-and-non-commercial-aircraft-accreditation' %}">
                            Solicitud de Sobrevuelo y Aterrizaje de Aeronave No Comercial
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'accreditation:vehicle-access-to-the-airport' %}">
                            Acredita Acceso de Vehículos al Aeropuerto
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'accreditation:medical-report' %}">
                            Ficha de Informe Medico
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'accreditation:security-weapons-registration' %}">
                            Acreditación de Seguridad y Registro de Armas
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'accreditation:newsletter-national' %}">
                            Acreditación Prensa Nacional
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'accreditation:newsletter-international' %}">
                            Acreditación Prensa Internacional
                        </a>
                    </li>
                  </ul>
                </div>
            </div>
        </header>
    </div>
</body>
</html> -->