{% extends "./base.html" %}

{% block form_type %} Ficha de Informe Medico {% endblock form_type %}

{% block content %}
<div class="p-10">
    <div class="text-xl mb-6">
        <h2> Datos personales </h2>
    </div>

    <form action="/action/" method="post">
        {% csrf_token %}    
        <div class="grid md:grid-cols-3 gap-4">
            {% for item in form %}    
            {% if item.label != 'Antecedentos Medicos' and item.label != 'Tipo de acreditación' and item.label != 'Inmunizaciones Recientes' and item.label != 'Tipo de alergias' %}
                <div>
                    <label>
                        <div class="label-text">
                            {{ item.label }}
                        </div>
                        {{ item }}
                    </label>
                </div>
                
            {% endif %}
              
            {% endfor %}
        </div>
        
        <div class="mt-4">
            <div class="mb-6 text-xl text-red-500"> {{ form.allergies.label }} </div>
            <div class="flex flex-wrap gap-5 text-xl">
                {% for text in form.allergies %}
                {{text}}
                {% endfor %}
            </div>
        </div>
        <div class="mt-6">
            <div class="mb-6 text-xl text-red-500"> {{ form.immunizations.label }} </div>
            <div class="flex flex-wrap gap-5 text-xl">
                {% for text in form.immunizations %}
                {{text}}
                {% endfor %}
            </div>
        </div>
        <div class="mt-6">
            <div class="mb-6 text-xl text-red-500"> {{ form.medical_history.label }} </div>
            <div class="flex flex-wrap gap-5 text-xl">
                {% for text in form.medical_history %}
                {{text}}
                {% endfor %}
            </div>
        </div>
        <!-- <input type="submit" value="Submit"> -->
    </form>
</div>
{% endblock content %}