{% extends "base.html" %}

{% block form_type %} Solicitud de sobrevuelo y aterrizaje de aeronave no comercial {% endblock form_type %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="text-center alert alert-{{ message.tags }}">
  {{ message|safe }}
</div>
{% endfor %}
{% endif %}


<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="created_by" value="{{ user.id }}">


  <div class="grid md:grid-cols-3">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text"> Pais </span>
      </div>
      <select class="select select-bordered w-full max-w-xs" name="country">
        <option value=""> Selecciona una opción </option>
        {% for country in countries %}
        <option value="{{ country.id }}"> {{ country.name }} </option>
        {% endfor %}
      </select>
      <small class="text-red-600"> {{ form.country.errors }} </small>
    </label>
  </div>

  <div class="mb-5 mt-5">
    <span class="text-xl font-bold">
      DATOS DE LA AERONAVE
    </span>
  </div>

  <div class="grid md:grid-cols-3 gap-4">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text"> Tipo </span>
      </div>
      <input type="text" placeholder="Type here" name="aircraft_type" class="input input-bordered w-full max-w-xs"
        value="{{ form.aircraft_type.value|default:'' }}" />
      <small class="text-red-600"> {{ form.aircraft_type.errors }} </small>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text"> Modelo </span>
      </div>
      <input type="text" placeholder="Type here" name="model" class="input input-bordered w-full max-w-xs"
        value="{{ form.model.value|default:'' }}" />
      <small class="text-red-600"> {{ form.model.errors }} </small>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text"> Jurisdiccion </span>
      </div>
      <select class="select select-bordered w-full max-w-xs" name="jurisdiction">
        <option value=""> Selecciona una opción </option>
        {% for jurisdiction in jurisdictions %}
        {% if jurisdictions.0|add:0 == form.jurisdiction.value|add:0 %}
        <option value="{{ jurisdiction.0 }}" selected> {{ jurisdiction.1 }} </option>
        {% else %}
        <option value="{{ jurisdiction.0 }}"> {{ jurisdiction.1 }} </option>
        {% endif %}
        {% endfor %}
      </select>
      <small class="text-red-600"> {{ form.model.errors }} </small>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text"> Matricula </span>
      </div>
      <input type="text" placeholder="Type here" name="registration" class="input input-bordered w-full max-w-xs"
        value="{{ form.registration.value|default:'' }}" />
      <small class="text-red-600"> {{ form.registration.errors }} </small>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text"> Color </span>
      </div>
      <input type="text" placeholder="Type here" name="color" class="input input-bordered w-full max-w-xs"
        value="{{ form.color.value|default:'' }}" />
      <small class="text-red-600"> {{ form.color.errors }} </small>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text"> Indicativo de llamada </span>
      </div>
      <input type="text" placeholder="Type here" name="call_sign" class="input input-bordered w-full max-w-xs"
        value="{{ form.call_sign.value|default:'' }}" />
      <small class="text-red-600"> {{ form.call_sign.errors }} </small>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text"> Nombre del comandante </span>
      </div>
      <input type="text" placeholder="Type here" name="commander_name" class="input input-bordered w-full max-w-xs"
        value="{{ form.commander_name.value|default:'' }}" />
      <small class="text-red-600"> {{ form.commander_name.errors }} </small>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Cargo en el evento</span>
      </div>
      <select class="select select-bordered w-full max-w-xs" name="position">
        <option value="">Selecciona una opción</option>
        {% for position in positions %}
        {% if position.id|add:0 == form.position.value|add:0 %}
        <option value="{{ position.id }}" selected> {{ position.name }} </option>
        {% else %}
        <option value="{{ position.id }}"> {{ position.name }} </option>
        {% endif %}
        {% endfor %}
      </select>
      <small class="text-red-600"> {{ form.position.errors }} </small>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text"> No. de tripulantes </span>
      </div>
      <input type="number" placeholder="Type here" name="crew_members_count"
        class="input input-bordered w-full max-w-xs" value="{{ form.crew_members_count.value|default:'' }}" />
      <small class="text-red-600"> {{ form.crew_members_count.errors }} </small>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text"> Nombre del PMI </span>
      </div>
      <input type="number" placeholder="Type here" name="pmi_name" class="input input-bordered w-full max-w-xs"
        value="{{ form.pmi_name.value|default:'' }}" />
      <small class="text-red-600"> {{ form.pmi_name.errors }} </small>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text"> No. de pasajeros </span>
      </div>
      <input type="number" placeholder="Type here" name="passengers_count" class="input input-bordered w-full max-w-xs"
        value="{{ form.passengers_count.value|default:'' }}" />
      <small class="text-red-600"> {{ form.passengers_count.errors }} </small>
    </label>
  </div>

  <div class="mb-5 mt-5">
    <span class="text-xl font-bold">
      INFORMACION DEL VUELO
    </span>
  </div>

  <div class="grid gap-4">
    <label class="form-control w-full max-w-md">
      <div class="label">
        <span class="label-text"> Fecha de entrada al territorio nacional </span>
      </div>
      <input type="date" placeholder="Type here" name="arrival_date" class="input input-bordered w-full max-w-md"
        value="{{ form.arrival_date.value|default:'' }}" />
      <small class="text-red-600"> {{ form.arrival_date.errors }} </small>
    </label>

    <label class="form-control w-full max-w-md">
      <div class="label">
        <span class="label-text"> Fecha de salida al territorio nacional </span>
      </div>
      <input type="date" placeholder="Type here" name="departure_date" class="input input-bordered w-full max-w-md"
        value="{{ form.departure_date.value|default:'' }}" />
      <small class="text-red-600"> {{ form.departure_date.errors }} </small>
    </label>

    <label class="form-control w-full max-w-md">
      <div class="label">
        <span class="label-text"> Fecha(s), Lugar (es) y objeto de Sobrevuelo </span>
      </div>
      <input type="text" placeholder="Type here" name="overflight_info" class="input input-bordered w-full max-w-md"
        value="{{ form.overflight_info.value|default:'' }}" />
      <small class="text-red-600"> {{ form.overflight_info.errors }} </small>
    </label>

    <label class="form-control w-full max-w-md">
      <div class="label">
        <span class="label-text"> Fechas (s) Lugar (es) y objetivo del aterrizaje </span>
      </div>
      <input type="text" placeholder="Type here" name="landing_info" class="input input-bordered w-full max-w-md"
        value="{{ form.landing_info.value|default:'' }}" />
      <small class="text-red-600"> {{ form.landing_info.errors }} </small>
    </label>

    <label class="form-control w-full max-w-md">
      <div class="label">
        <span class="label-text"> Procedencia </span>
      </div>
      <input type="text" placeholder="Type here" name="origin" class="input input-bordered w-full max-w-md"
        value="{{ form.origin.value|default:'' }}" />
      <small class="text-red-600"> {{ form.origin.errors }} </small>
    </label>

    <label class="form-control w-full max-w-md">
      <div class="label">
        <span class="label-text"> Destino </span>
      </div>
      <input type="text" placeholder="Type here" name="destination" class="input input-bordered w-full max-w-md"
        value="{{ form.destination.value|default:'' }}" />
      <small class="text-red-600"> {{ form.destination.errors }} </small>
    </label>

    <label class="form-control w-full max-w-md">
      <div class="label">
        <span class="label-text"> Ruta </span>
      </div>
      <input type="text" placeholder="Type here" name="route" class="input input-bordered w-full max-w-md"
        value="{{ form.route.value|default:'' }}" />
      <small class="text-red-600"> {{ form.route.errors }} </small>
    </label>

    <label class="form-control w-full max-w-md">
      <div class="label">
        <span class="label-text"> Facilidades que la aeronave requiere en tierra </span>
      </div>
      <input type="text" placeholder="Type here" name="ground_facilities" class="input input-bordered w-full max-w-md"
        value="{{ form.ground_facilities.value|default:'' }}" />
      <small class="text-red-600"> {{ form.ground_facilities.errors }} </small>
    </label>

    <label class="form-control w-full max-w-md">
      <div class="label">
        <span class="label-text"> Fecha </span>
      </div>
      <input type="date" placeholder="Type here" name="date" class="input input-bordered w-full max-w-md"
        value="{{ form.date.value|default:'' }}" />
      <small class="text-red-600"> {{ form.date.errors }} </small>
    </label>

    <label class="form-control w-full max-w-md">
      <div class="label">
        <span class="label-text"> Firma del solicitante </span>
      </div>
      <input type="text" placeholder="Type here" name="signature" class="input input-bordered w-full max-w-md"
        value="{{ form.signature.value|default:'' }}" />
      <small class="text-red-600"> {{ form.signature.errors }} </small>
    </label>

  </div>


  <button class="btn btn-info btn-active mt-3" type="submit"> Crear </button>

</form>
{% endblock content %}

{% block scripts %}
<script>
  function toggleSidebar() {
    document.getElementById('div-drawer').classList.toggle('drawer-open')
  }
</script>
{% endblock scripts %}