<!DOCTYPE html>
{% load static %}

<html lang="es" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% block title %} Acreditación {% endblock title %}
  </title>

  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

  {% block links %} {% endblock links %}
</head>
<body>
  <div class="">
    <div class="drawer lg:drawer-open" id="div-drawer">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <button type="button" onclick="toggleSidebar()"
          class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
            </path>
          </svg>
        </button>

        <div class="navbar bg-base-100 shadow-xl">
          <img src="{% static 'assets/logo.png' %}" alt="Escudo de Panamá" class="h-10">
        </div>

        {% block noheader %}
          <div class="p-5 text-2xl text-center font-bold">
            <h3> República de Panamá </h3>
            <h3> Transmisión de Mando Presidencial 2024 </h3>
            <h3>{% block form_type %}{% endblock form_type %}</h3>
          </div>
        {% endblock %}

        <main class="py-5 px-5">
          {% block content %} {% endblock content %}
        </main>
      </div>

      <div class="drawer-side">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>

        <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
          {% if admin_group in user.groups.all %}
          <li>
            <a href="{% url 'core:form-list' %}">
              Lista de formularios creados
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'core:national' %}">
              Acreditación Nacional
            </a>
          </li>

          <li>
            <a href="{% url 'core:international' %}">
              Acreditación Internacional
            </a>
          </li>

          <li>
            <a href="{% url 'core:overflight' %}">
              Solicitud de Sobrevuelo y Aterrizaje de Aeronave No Comercial
            </a>
          </li>

          <!-- <li>
            <a href="#">
              Acredita Acceso de Vehículos al Aeropuerto
            </a>
          </li>
          <li>
            <a href="#">
              Ficha de Informe Medico
            </a>
          </li>

          <li>
            <a href="#'">
              Acreditación de Seguridad y Registro de Armas
            </a>
          </li>

          <li>
            <a href="#">
              Acreditación Prensa Nacional
            </a>
          </li>

          <li>
            <a href="#">
              Acreditación Prensa Internacional
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>

  <script>
    function toggleSidebar() {
      document.getElementById('div-drawer').classList.toggle('drawer-open')
    }
  </script>
  {% block scripts %}

  {% endblock scripts %}
</body>

</html>
