{% extends "base.html" %}


{% block content %}
<div class="my-5">
    

        <div class="drawer lg:drawer-open">
            <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
                <div class="p-5 text-2xl text-center font-bold">
                    <h3> República de Panamá </h3>
                    <h3> Transmisión de Mando Presidencial 2024 </h3>
                    <h3></h3>
                </div>
            
            </div> 
            <div class="drawer-side">
              <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label> 
              <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                <li>
                    <a href="#">
                        Acreditación Nacional
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        Acreditación Internacional
                    </a>
                </li>

                <li>
                    <a href="#">
                        Solicitud de Sobrevuelo y Aterrizaje de Aeronave No Comercial
                    </a>
                </li>

                <li>
                    <a href="#">
                        Acredita Acceso de Vehículos al Aeropuerto
                    </a>
                </li>
                <li>
                    <a href="#">
                        Ficha de Informe Medico
                    </a>
                </li>

                <li>
                    <a href="#'">
                        Acreditación de Seguridad y Registro de Armas
                    </a>
                </li>

                <li>
                    <a href="#">
                        Acreditación Prensa Nacional
                    </a>
                </li>

                <li>
                    <a href="#">
                        Acreditación Prensa Internacional
                    </a>
                </li>
              </ul>
            </div>
        </div>
    
</div>
{% endblock content %}