{% extends "base.html" %}


{% block content %}
<div class="mb-6">
    <span class="text-xl font-bold">
    Datos personales
</span>
</div>
<div class="grid md:grid-cols-3 gap-4">
    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Nombre</span>
        </div>
        <input type="text" placeholder="Ingresa tus datos"  name="first_name" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Apellido</span>
        </div>
        <input type="text" placeholder="Ingresa tus datos"  name="last_name" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Nacionalidad</span>
        </div>
        <select class="select select-bordered w-full max-w-xs" name="nationality">
            <option disabled selected>Who shot first?</option>
            <option>Han Solo</option>
            <option>Greedo</option>
        </select>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Cargo en el evento</span>
        </div>
        <select class="select select-bordered w-full max-w-xs" name="position">
            <option disabled selected>Who shot first?</option>
            <option>Han Solo</option>
            <option>Greedo</option>
        </select>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Medios de comunicacion </span>
        </div>
        <select class="select select-bordered w-full max-w-xs" name="media_channel">
            <option disabled selected>Who shot first?</option>
            <option>Han Solo</option>
            <option>Greedo</option>
        </select>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Carta de autorizacion </span>
        </div>
        <input type="file" class="file-input file-input-bordered w-full max-w-xs" name="letter_of_authorization"/>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Institucion/empresa </span>
        </div>
        <input type="text" class="input input-bordered w-full max-w-xs" name="institution"/>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Direccion </span>
        </div>
        <input type="text" class="input input-bordered w-full max-w-xs" name="address"/>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Telefono </span>
        </div>
        <input type="text" class="input input-bordered w-full max-w-xs" name="phone"/>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Celular </span>
        </div>
        <input type="text" class="input input-bordered w-full max-w-xs" name="cellphone"/>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Email </span>
        </div>
        <input type="email" class="input input-bordered w-full max-w-xs" name="email"/>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Fecha de nacimiento </span>
        </div>
        <input type="date" class="input input-bordered w-full max-w-xs" name="birthday"/>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Lugar de nacimiento </span>
        </div>
        <input type="text" class="input input-bordered w-full max-w-xs" name="birthplace"/>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Tipo de sangre </span>
        </div>
        <input type="text" class="input input-bordered w-full max-w-xs" name="blood_type"/>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Tipo de acreditación </span>
        </div>
        <select class="select select-bordered w-full max-w-xs" name="accreditation_type">
            <option disabled selected>Who shot first?</option>
            <option>Han Solo</option>
            <option>Greedo</option>
        </select>
    </label>
</div>
{% endblock content %}

{% block scripts %}
<script>
function toggleSidebar(){
    document.getElementById('div-drawer').classList.toggle('drawer-open')
}
</script>
{% endblock scripts %}
